@charset "utf-8";
/*!
 * CSS presentation layer v1.3 / Couche présentation de CSS v1.3
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
  
/** Screen and print CSS **/
@media screen,print {
	/* Element normalization / Normalisation des éléments */
	select, button {font-size:100%}
}

/** Screen-only CSS **/
@media screen {
	.cn-show-onhover {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";}
	.cn-show-onhover:hover, .cn-show-onhover:focus, .cn-show-onhover:active {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";}
}

/** Print-only CSS **/
@media print {
}