@charset "utf-8";
/*!
 * CSS presentation layer v1.3 / Couche présentation de CSS v1.3
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
 
/** Screen and print CSS **/
@media screen,print {
	/* Element normalization / Normalisation des éléments */
	select, button {font-size:100%}

	/* Hide non-visual elements / Cacher les éléments non-visuel */
	.cn-invisible, .cn-show-onfocus, #cn-skip-head a:link, #cn-skip-head a:visited, #cn-left-col h2, #cn-right-col h2, #cn-foot h2 {clip: rect(1px 1px 1px 1px);}
	.cn-show-onfocus:focus, .cn-show-onfocus:active, #cn-skip-head a:focus, #cn-skip-head a:active {width: auto !important; height: auto !important; white-space: nowrap;}
	.cn-show-onhover, a.cn-linkdesc span span {filter: alpha(opacity = 0); zoom: 1;}
	.cn-show-onhover:hover, .cn-show-onhover:focus, .cn-show-onhover:active, a.cn-linkdesc:hover span span, a.cn-linkdesc:focus span span, a.cn-linkdesc:active span span {filter: alpha(opacity = 100); zoom: 1;}
}

/** Screen-only CSS **/
@media screen {
	a:hover, a:active, a:focus {color: #C00;}
	#cn-skip-head {float: none; margin-top: -13px;}
	#cn-skip-head ul {height: 10px; margin-top: -10px;}
	#cn-skip-head li {padding-bottom: 5px; width: 1%; top: 13px;}
	a.cn-linkdesc span span {top: -9000em;}
	#cn-centre-col, #cn-left-col, #cn-right-col {overflow-x: hidden;}
	.cn-overflow-test {display: none;}
}

/** Print-only CSS **/
@media print {
	#cn-centre-col, #cn-left-col, #cn-right-col {height: auto !important;}
}