@charset "utf-8";
/*!
 * GC Web Usability theme v1.0 / Thème de la facilité d'emploi Web GC v1.0
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
 
/** Screen and print CSS **/
@media screen,print {
}

/** Screen-only CSS **/
@media screen {
	#cn-cols {margin-bottom: -20px;}
	.cn-minister ul{padding-bottom:17px;}
	#deocrative-banner-full {display: inline-block !important; float: left; margin: 0; padding: 0 10px 0 10px; width: 700px;}
}

/** Print-only CSS **/
@media print {
}