@charset "utf-8";
/*!
 * GC Web Usability theme v1.0 / Thème de la facilité d'emploi Web GC v1.0
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
 
/** Screen and print CSS **/
@media screen,print {
	/** Render invisible **/
	#cn-gcnb h2, #cn-search-box label, #cn-psnb h2, #cn-aside h2, .cn-minister h2, .cn-minister h3, #cn-sft h3, #cn-bc h2, #cn-search-box h2, #cn-gcft h3 {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 0px !important; width: 0px !important; overflow: hidden !important; margin: 0 !important;}

	/** Breadcrumbs  **/
	#cn-bc ol {line-height: 1.57em;padding:0; margin:2px 10px 0; list-style-type: none;}
	#cn-bc ol:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
	#cn-bc li {display:inline;float:left;margin:0 5px 0px 0;padding:0;white-space:nowrap;}
	#cn-bc {font-size:85%; color:#555;}
	#cn-bc a {color:#295376;text-decoration:none;}
	#cn-bc li {background: url(../images/breadcrumb.gif) left 60% no-repeat;padding-left:11px;}
	#cn-bc li:first-child {background-image: none;padding-left:0;}
	#cn-bc a:hover,#cn-bc a:focus,#cn-bc a:hover,#cn-bc a:active {color:#295376;text-decoration:underline;}

	/** Date modified **/
	#cn-doc-dates {margin:0;}
	#cn-doc-dates dt, #cn-doc-dates dd {float:left;}
	#cn-doc-dates dd {margin: 0 0 0 10px;}
}

/** Screen-only CSS **/
@media screen {
	/** Body normalization for cross browser **/
	html {overflow-y: scroll;}
	body {margin: 0; padding: 0;}

	/** Box model - centered **/
	#cn-cols-inner, #cn-gcnb-inner, #cn-banner-inner, #cn-psnb-inner, #cn-bc-inner, #cn-gcft-inner, #cn-sft-inner {margin:auto;}
	#centre-col, #cn-left-col, #cn-right-col {z-index:1;display:inline;}
	#cn-head, #cn-head-inner, #cn-foot, #cn-foot-inner, #cn-gcnb, #cn-banner, #cn-bc, #cn-gcft, #cn-sft, #cn-gcnb-inner, #cn-banner-inner, #cn-bc-inner, #cn-gcft-inner, #cn-sft-inner {overflow:hidden;}
	#cn-cols-inner {overflow:visible !important;position:relative;padding-top:5px;}
	#cn-cols-inner:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
	#cn-banner{position:relative;z-index:10002 !important;}
	#cn-banner-inner {position:relative;}
	
	/** Centre column **/
	#cn-centre-col-inner {padding-top:1px;padding-bottom:2.5em;}
	#cn-body-inner-1col #cn-centre-col {float:left;}
	#cn-body-inner-2col #cn-centre-col {float:right;}
	#cn-body-inner-2col-right #cn-centre-col {float:left;}
	#cn-body-inner-3col #cn-centre-col {float:right;position:relative;}

	/** Left column **/
	#cn-left-col {float:left;}
	#cn-left-col-inner{margin:7px 0 0 10px;}
	
	/** Right column **/
	#cn-right-col {float:right;position:relative;}

	/** Two column layout within the content area **/
	#cn-body-inner-1col #cn-content{float:left;display:inline;position: relative}
	#cn-body-inner-2col #cn-content{float:left;display:inline;}
	#cn-aside{float:right;display:inline;margin-left:10px;margin-right:10px;}

	/** Site title **/
	#cn-site-title a {text-decoration: none;}
	#cn-site-title a:hover, #cn-site-title a:focus, #cn-site-title a:active {text-decoration: underline;}

	/** Left menu **/
	.cn-left-col-default h3.top-section a{color:#FFF;background:#23447e url(../fip-pcim/images/menu-background.gif) 0 -2px repeat-x;padding-top:5px;padding-bottom:5px;font-size:1.1em;}
	.cn-left-col-default h3.top-section a:hover,.cn-left-col-default h3.top-section a:focus,.cn-left-col-default h3.top-section a:active{color:#FFF;text-decoration:underline;}
	.cn-left-col-default h3.top-section a.nav-current {color:#FFF;padding-top:4px;padding-bottom:4px;background:#0f315b;}
	.cn-left-col-default h3, .cn-left-col-default h4,.cn-left-col-default .top-level {font-size:100%;border-bottom:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;margin:0 0 3px;}
	.cn-left-col-default h3 a,.cn-left-col-default h4 a,.cn-left-col-default .top-level a{padding:2px 4px;font-weight:700;background:#DDD;}
	.cn-left-col-default h3 a.nav-current, .cn-left-col-default h4 a.nav-current, .cn-left-col-default .top-level a.nav-current{padding:1px 3px;color:#0F315B;}
	.cn-left-col-default li a{padding:4px 5px;}
	.cn-left-col-default li a.nav-current{padding:3px 4px;color:#0F315B;}
	.cn-left-col-default a.nav-current{border: 1px solid #777;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
	.cn-left-col-default h3 a,.cn-left-col-default h4 a,.cn-left-col-default .top-level a,.cn-left-col-default li a{display:block;color:#333;text-decoration:none;}
	.cn-left-col-default h3 a:hover,.cn-left-col-default h3 a:focus,.cn-left-col-default h3 a:active,.cn-left-col-default h4 a:hover,.cn-left-col-default h4 a:focus,.cn-left-col-default h4 a:active,.cn-left-col-default .top-level a:hover,.cn-left-col-default .top-level a:focus,.cn-left-col-default .top-level a:active,.cn-left-col-default li a:hover,.cn-left-col-default li a:focus,.cn-left-col-default li a:active{color:#333;text-decoration:underline;}
	.cn-left-col-default ul{list-style-type:none;margin:0 0 6px;padding:0;}
	.cn-left-col-default ul ul{list-style-type:none;margin-left:10px;padding-left:5px;border-left:1px solid #ccc;}
	.cn-left-col-default li li{margin-left:0;border:none;list-style-type:none;padding:0;}

	/** Date modified **/
	#cn-doc-dates {position:absolute;bottom:0;right:10px;}

	/** Globals **/
	img{border:none;}
	
	/** Home page **/

	/** Normalization **/
	h1, #cn-content h2, #cn-gc-priorities h3 {color: #333; font-weight: normal;}
	h1 {border-bottom: 1px solid #333333; font-size: 1.8em; margin-bottom: 10px !important; margin-top: 0;}
	#cn-content h2, #cn-gc-priorities h3 {border: none; margin-bottom: 5px;  font-size: 1.6em;}
	#cn-aside img{margin-left:0;margin-right:0;}

	/** Headlines **/
	div#cn-headlines ul li, div#cn-headlines ul {list-style: none !important; margin: 0px !important; padding: 0 !important;}
	#cn-headlines ul li a, #cn-video a {font-size: 100%;}
	#cn-headlines ul li h3, #cn-headlines ul li p{padding: 5px; margin: 0px;}
	#cn-headlines ul li h3 {font-size: 1.0em;font-weight:bold;}

	/** Government priorities **/
	#cn-gc-priorities {padding-bottom: 10px; border-bottom: 1px solid #000;}
	#cn-gc-priorities h2, #cn-gc-priorities h3 {margin-left: 0; margin-right: 0;}
	#cn-aside div#cn-gc-priorities ul li {padding: 0; margin: 0;}
	#cn-aside div#cn-gc-priorities ul {list-style: none; margin: 0; padding:0;}

	/** Video section **/
	#cn-video .mediaplayer {line-height: 0}
	#cn-video ul.mp-downloadable {position:absolute;clip:rect(1px, 1px, 1px, 1px);height:1px;width:1px;overflow:hidden;}
	#cn-video div.background-dark {background: #eee !important; color: #000; padding-bottom: 10px}

	/** Stay connected **/
	#cn-connect h2 {border: none; margin-bottom: 5px; color: #333; float: left; margin-top: 2px; margin-right: 10px;}
	#cn-connect ul {list-style-type: none;}
	#cn-connect li {display: inline;}
	#cn-connect a {background: none; padding-right: 0; text-decoration: none;}

	/** Minister box **/
	.cn-minister {margin-top: 10px;}
	.cn-minister h2, .cn-minister h3 {margin-left: 0; margin-right: 0;}
	.cn-minister-inner {min-height: 149px; background:#eee url(../images/bg-minister-bottom.gif) no-repeat right bottom}
	.cn-minister img{margin:0;padding-right:5px; float:left;}
	.cn-minister p{margin:0 0 0 0;padding:10px 5px 10px 0; background:#fff url(../images/bg-minister-top.gif) no-repeat right top;}
	.cn-minister p strong{font-weight: 700; color: #001D45;}
	.cn-minister ul{margin:0px;list-style-type:none; padding-top: 17px;}
	.cn-minister ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.cn-minister li{padding-bottom:8px;}
	.cn-minister li a:hover, .cn-minister li a:focus, .cn-minister li a:active{text-decoration:none;}
}

/** Print-only CSS **/
@media print {
	#cn-left-col,#cn-right-col,#cn-gcnb ul,#cn-search-box,#cn-psnb,#cn-foot {display:none;}
	#cn-doc-dates {float:right;display:inline;}

	table{border:1px solid #ccc;border-collapse:collapse;}
	caption{text-align:left;}
	th{background-color:#eee;border:1px solid #ccc;color:#555;text-align:center;padding:8px;}
	td{border:1px solid #ccc;vertical-align:top;padding:5px 10px;}
	ol ol li{list-style-type:lower-alpha;}
	ol ol ol li{list-style-type:lower-roman;}
	.list-lower-alpha{list-style-type:lower-alpha !important;}
	.list-lower-roman{list-style-type:lower-roman !important;}
	.list-bullet-none{list-style-type:none !important;}
	ol.list-numeric li{list-style-type:decimal !important;}
	.list-upper-alpha{list-style-type:upper-alpha !important;}
	.list-upper-roman{list-style-type:upper-roman !important;}
	.margin-bottom-none{margin-bottom:0 !important;}
	.margin-bottom-small{margin-bottom:2px !important;}
	.margin-bottom-medium{margin-bottom:10px !important;}
	.margin-bottom-large{margin-bottom:20px !important;}
	.margin-bottom-xlarge{margin-bottom:57px !important;}
	.margin-top-none{margin-top:0 !important;}
	.margin-top-small{margin-top:2px !important;}
	.margin-top-medium{margin-top:10px !important;}
	.margin-top-large{margin-top:20px !important;}
	.margin-top-xlarge{margin-top:57px !important;}
	.font-xsmall{font-size:70% !important;}
	.font-small{font-size:85% !important;}
	.font-medium{font-size:100% !important;}
	.font-large{font-size:120% !important;}
	.font-xlarge{font-size:130% !important;}
	.footnote{border-left:2px solid #555;font-size:85%;padding-bottom:1px;padding-left:4px;}
	.footnote-container{border-bottom:3px double #ccc;border-top:3px double #ccc;margin:0 10px;}
	table.calendar-month{border:1px solid #ccc;margin:3px 0 2px;}
	table.calendar-month caption{background:#eee;border:1px solid #ccc;font-weight:700;color:#555;padding:2px 5px;}
	.calendar-month td,.calendar-month th{text-align:center;vertical-align:middle;background:#fff;color:#555;margin-bottom:0;}
	th.calendar-weekend,td.calendar-weekend{background:#eee;}
	td.calendar-item{background:#000;font-weight:700;padding:0;}
	td.calendar-today{border:2px solid #00556b;}
	td.calendar-item a,td.calendar-item a:visited{display:block;color:#fff !important;text-decoration:none;}
	td.calendar-item:hover{background:#555;}
	.clear{clear:both;display:block;height:0 !important;min-height:0 !important;overflow:hidden;visibility:hidden;width:0;margin:0;}
}