@charset "utf-8";
/*!
 * CSS Grid System v1.3b1 / Système de grille CSS v1.3b1
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
 
/*** Theme begins / Début du thème ***/

/*** Theme ends / Fin du thème ***/

/*** CSS Grid System begins / Début du Système de grille CSS ***/
	/* ---- Dimensions ---- */
	#cn-body-inner-2col #cn-cols .grid-12 .span-1{width:40px;}
	.grid-12 .span-1{width:60px;}
	.span-1,#cn-body-inner-2col #cn-cols .grid-12 .span-2{width:100px;}
	.grid-12 .span-2{width:140px;}
	#cn-body-inner-2col #cn-cols .grid-12 .span-3{width:160px;}
	.span-2,#cn-body-inner-2col #cn-cols .grid-12 .span-4,.grid-12 .span-3{width:220px;}
	#cn-body-inner-2col #cn-cols .grid-12 .span-5{width:280px;}
	.grid-12 .span-4{width:300px;}
	.span-3,#cn-body-inner-2col #cn-cols .grid-12 .span-6{width:340px;}
	.grid-12 .span-5{width:380px;}
	#cn-body-inner-2col #cn-cols .grid-12 .span-7{width:400px;}
	.span-4,#cn-body-inner-2col #cn-cols .grid-12 .span-8,.grid-12 .span-6{width:460px;}
	#cn-body-inner-2col #cn-cols .grid-12 .span-9{width:520px;}
	.grid-12 .span-7{width:540px;}
	.span-5,#cn-body-inner-2col #cn-cols .grid-12 .span-10{width:580px;}
	.grid-12 .span-8{width:620px;}
	#cn-body-inner-2col #cn-cols .grid-12 .span-11{width:640px;}
	.span-6,#cn-body-inner-2col #cn-cols .grid-12 .span-12,.grid-12 .span-9{width:700px;}
	.grid-12 .span-10{width:780px;}
	.span-7{width:820px;}
	.grid-12 .span-11{width:860px;}
	.span-8,.grid-12 .span-12{width:940px;}
	 
	/* ---- Borders ---- */
	#cn-body-inner-2col #cn-cols .grid-12 .border-span-1{background-image:url(../images/border-40px.gif);}
	.grid-12 .border-span-1{background-image:url(../images/border-60px.gif);}
	.border-span-1,#cn-body-inner-2col #cn-cols .grid-12 .border-span-2,.module-versatile{background-image:url(../images/border-100px.gif);}
	.grid-12 .border-span-2,.module-versatile{background-image:url(../images/border-140px.gif);}
	#cn-body-inner-2col #cn-cols .grid-12 .border-span-3{background-image:url(../images/border-160px.gif);}
	.border-span-2,.module-versatile,#cn-body-inner-2col #cn-cols .grid-12 .border-span-4,.grid-12 .border-span-3{background-image:url(../images/border-220px.gif);}
	#cn-body-inner-2col #cn-cols .grid-12 .border-span-5{background-image:url(../images/border-280px.gif);}
	.grid-12 .border-span-4{background-image:url(../images/border-300px.gif);}
	.border-span-3,#cn-body-inner-2col #cn-cols .grid-12 .border-span-6{background-image:url(../images/border-340px.gif);}
	.grid-12 .border-span-5{background-image:url(../images/border-380px.gif);}
	#cn-body-inner-2col #cn-cols .grid-12 .border-span-7{background-image:url(../images/border-400px.gif);}
	.border-span-4,.module-table-contents,.module-welcomepage,#cn-body-inner-2col #cn-cols .grid-12 .border-span-8,.grid-12 .border-span-6{background-image:url(../images/border-460px.gif);}
	#cn-body-inner-2col #cn-cols .grid-12 .border-span-9{background-image:url(../images/border-520px.gif);}
	.grid-12 .border-span-7{background-image:url(../images/border-540px.gif);}
	.border-span-5,#cn-body-inner-2col #cn-cols .grid-12 .border-span-10{background-image:url(../images/border-580px.gif);}
	.grid-12 .border-span-8{background-image:url(../images/border-620px.gif);}
	#cn-body-inner-2col #cn-cols .grid-12 .border-span-11{background-image:url(../images/border-640px.gif);}
	.border-span-6,#cn-body-inner-2col #cn-cols .grid-12 .border-span-12,.grid-12 .border-span-9{background-image:url(../images/border-700px.gif);}
	.grid-12 .border-span-10{background-image:url(../images/border-780px.gif);}
	.border-span-7{background-image:url(../images/border-820px.gif);}
	.grid-12 .border-span-11{background-image:url(../images/border-860px.gif);}
	.border-span-8,.grid-12 .border-span-12{background-image:url(../images/border-940px.gif);}
	 
	/* ---- Other ---- */
	.span-2 .calendar-month td,.span-2 .calendar-month th{width:30px;height:32px;padding:2px 3px;}
	#cn-body-inner-2col #cn-cols .grid-12 .span-4 .calendar-month td,#cn-body-inner-2col #cn-cols .grid-12 .span-4 .calendar-month th{width:30px;height:32px;padding:2px 3px;}
	.grid-12 .span-3 .calendar-month td,.grid-12 .span-3 .calendar-month th{width:30px;height:32px;padding:2px 3px;}
/*** CSS Grid System ends / Fin du Système de grille CSS ***/