@charset "utf-8";
/*!
 * CSS Grid System v1.3b1 / Système de grille CSS v1.3b1
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
body {background: #EEEEEE;}
#cn-cols {background: #FFFFFF;}
h1,h2,h3,h4,h5,h6,p,blockquote,table,form,img,pre{margin-left:0 !important;margin-right:0 !important;}
#cn-centre-col-inner .span-1, #cn-centre-col-inner .span-2, #cn-centre-col-inner .span-3, #cn-centre-col-inner .span-4, #cn-centre-col-inner .span-5, #cn-centre-col-inner .span-6, .span-full {margin-bottom: 20px !important;;}
#cn-centre-col-inner .margin-bottom-none {margin-bottom: 0 !important;}
.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-6-full, .span-full {display: inline;float: left;position: relative;margin-left:5px !important;margin-right:5px !important;}
.span-full {margin-left: 0 !important;margin-right: 0 !important;}
.background-light p, .background-dark p, .background-accent p, .border-span-1 p, .border-span-2 p, .border-span-3 p, .border-span-4 p, .border-span-5 p, .border-span-6 p, .border-span-full p {margin-left: 10px !important;margin-right: 10px !important;}
.border-span-1, .border-span-2, .border-span-3, .border-span-4, .border-span-5, .border-span-6, .border-span-full {background-repeat: no-repeat;border-bottom: 1px solid #CCCCCC !important;}

#cn-banner{background:url(../images/banner-small.jpg) 0 0 no-repeat #00556b;}
#cn-centre-col-inner{position:relative;padding-left:0;margin-bottom:10px;}
#cn-body-inner-2col #cn-centre-col-inner{padding-left:0 !important; width:605px;}
#cn-body-inner-3col #cn-centre-col-inner{margin:0;padding:0px;width:405px;}
.span-1{width:90px;}
.span-2{width:190px;}
.span-3{width:290px;}
.span-4{width:390px;}
.span-5{width:490px;}
.span-6{width:590px;}
.span-full,#cn-body-inner-1col #cn-centre-col-inner{width:760px;}
.border-span-1{background-image:url(../images/border-800-span-1.gif);}
.border-span-2,.module-versatile{background-image:url(../images/border-800-span-2.gif);}
.border-span-3{background-image:url(../images/border-800-span-3.gif);}
.border-span-4,.module-table-contents,.module-welcomepage{background-image:url(../images/border-800-span-4.gif);}
.border-span-5{background-image:url(../images/border-800-span-5.gif);}
.border-span-6{background-image:url(../images/border-800-span-6.gif);}
.border-span-6-full{background-image:url(../images/border-800-span-6-full.gif);}
.border-span-full{background-image:url(../images/border-800-span-full.gif);}
.span-2 .calendar-month td,.span-2 .calendar-month th{width:26px;height:32px;padding:0;}

/*Override all borders in 3 column layout to ensure 800x600 design adheres to clf2 dimensions*/
#cn-body-inner-3col #cn-centre-col .module-welcomepage,#cn-body-inner-3col #cn-centre-col .border-span-4
{background-image:url(../images/border-800-span-4-full.gif)!important;}
#cn-body-inner-3col #cn-centre-col .border-span-2,#cn-centre-col #cn-centre-col .module-versatile{background-image:url(../images/border-800-span-2-full.gif)!important;}
#cn-body-inner-3col #cn-right-col .border-span-2,#cn-body-inner-3col #cn-right-col  .module-versatile{background-image:url(../images/border-800-span-2-full2.gif)!important;}
#cn-body-inner-3col .span-4{margin-left:0 !important;margin-right:0 !important;width:405px;}
#cn-body-inner-3col #cn-centre-col .span-1{width:92px !important;}
#cn-body-inner-3col #cn-centre-col .span-2{width:197px !important;}
#cn-body-inner-3col #cn-right-col .span-2{margin-left:0 !important;margin-right:0!important;width:195px;}
#cn-body-inner-3col .border-span-1{background-image:url(../images/border-800-span-1-full.gif)!important;}

/*Additional CSS for plugins that work within the grid system (delete if the plugin is not used by your site)*/

/*Codaslider CSS*/
.span-6 #slider,.span-6 .scroll {width: 590px}
.span-6 .scroll-panel {width: 550px}
.span-5 #slider,.span-5 .scroll {width: 490px}
.span-5 .scroll-panel {width: 450px}
.span-4 #slider,.span-4 .scroll {width: 390px}
.span-4 .scroll-panel {width: 350px}
.span-3 #slider,.span-3 .scroll {width: 290px}
.span-3 .scroll-panel {width: 250px}
.span-2 #slider,.span-2 .scroll {width: 190px}
.span-2 .scroll-panel {width: 150px}
.slider-nav img {width:auto !important;} /*for when JavaScript is turned off */

/*Toolbar overrides*/
.toolbar{margin-left:-10px;}
.toolbar a{padding-left:5px !important;}
.toolbar a.toolbar-homepage,.toolbar .toolbar-top-page a{background:none !important;}