@charset "utf-8";
/*!
 * CSS Grid System v1.3b1 / Système de grille CSS v1.3b1
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
 
/* ---- Add margin left and right to elements that are used outside a grid cell, as they must still match the grid dimensions ---- */
h1,h2,h3,h4,h5,h6,p,blockquote,table,form,img,pre{margin-left:10px;margin-right:10px;}
 
/* ---- Reset margin left and right to elements that are used inside a grid cell ---- */
img.float-right{margin-left:10px;}

/* ---- Basic grid ---- */
.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12{display:inline;position:relative;float:left;min-height:1px;margin-left:10px;margin-right:10px;}
.border-top,.border-right,.border-bottom,.border-left{display:inline;position:relative;float:left;min-height:1px;}
#cn-centre-col-inner .span-1,#cn-centre-col-inner .span-2,#cn-centre-col-inner .span-3,#cn-centre-col-inner .span-4,#cn-centre-col-inner .span-5,#cn-centre-col-inner .span-6,#cn-centre-col-inner .span-7,#cn-centre-col-inner .span-8,#cn-centre-col-inner .span-9,#cn-centre-col-inner .span-10,#cn-centre-col-inner .span-11,#cn-centre-col-inner .span-12{margin-bottom:20px;}
.row-start {margin-left:0 !important;}
.row-end {margin-right:0  !important;}
.clear {clear:both;display:block;height:0;margin:0;overflow:hidden;visibility:hidden;width:0;}
.span-1 .span-1,.span-2 .span-2,.span-3 .span-3,.span-4 .span-4,.span-5 .span-5,.span-6 .span-6,.span-7 .span-7,.span-8 .span-8,.span-9 .span-9,.span-10 .span-10,.span-11 .span-11,.span-12 .span-12{margin-left:0 !important;margin-right:0 !important;}
.border-span-1,.border-span-2,.border-span-3,.border-span-4,.border-span-5,.border-span-6,.border-span-7,.border-span-8,.border-span-9,.border-span-10,.border-span-11,.border-span-12{background-repeat:no-repeat;border-bottom:1px solid #ccc !important;}
img.image-actual,#cn-aside .cn-minister-image img {width:auto !important;height:auto;}
.span-1 img,.span-2 img,.span-3 img,.span-4 img,.span-5 img,.span-6 img,.span-7 img,.span-8 img,.span-9 img,.span-10 img,.span-11 img,.span-12 img,#cn-aside img{ width:100%;height:auto; -ms-interpolation-mode:bicubic; }

/* ---- Grid decoration ----*/
.equalize {margin-bottom:0 !important;}
.color-attention {color:#c00 !important;}
.color-accent {color:#226b8e !important;}
.background-white {background-color:#fff !important;color:#000;}
.background-light {background-color:#eee !important;color:#000;}
.background-dark {background-color:#555 !important;color:#fff;}
.background-highlight{background-color:#ffffc9 !important;color:#000;}
.background-accent {background-color:#1a3d6c !important;color:#fff;}
p.background-light,p.background-highlight,p.background-dark,p.background-accent {margin:0;padding:5px;}
h2.background-light,h3.background-light,h4.background-light,h5.background-light,h6.background-light {color:#000;border-bottom:none;margin:0;padding:5px;}
h2.background-dark,h3.background-dark,h4.background-dark,h5.background-dark,h6.background-dark {color:#fff;border-bottom:none;margin:0;padding:5px;}
h2.background-accent,h3.background-accent,h4.background-accent,h5.background-accent,h6.background-accent {color:#fff;border-bottom:none;margin:0;padding:5px;}
.background-light p,.background-highlight p,.background-dark p,.background-accent p,.border-span-1 p,.border-span-2 p,.border-span-3 p,.border-span-4 p,.border-span-5 p,.border-span-6 p,.border-span-7 p,.border-span-8 p,.border-span-9 p,.border-span-10 p,.border-span-11 p,.border-span-12 p{margin-left: 10px;margin-right: 10px;}
.background-accent a:link,.background-accent a:visited,.background-accent a:hover,.background-dark a:link,.background-dark a:visited,.background-dark a:hover,.module-billboard a:hover,.module-billboard a:focus {color:#fff;text-decoration:underline;}
.background-accent a:hover,.background-accent a:focus,.background-dark a:hover,.background-dark a:focus {text-decoration:none;}
.border-top{background-image:url(../images/border.gif);background-repeat:repeat-x;background-position:0 0;min-height:1px;}
.border-right{background-image:url(../images/border.gif);background-repeat:repeat-y;background-position:right 0;}
.border-bottom{background-image:url(../images/border.gif);background-repeat:repeat-x;background-position:0 bottom;min-height:1px;}
.border-left{background-image:url(../images/border.gif);background-repeat:repeat-y;background-position:left 0;}

/* ---- Grid positioning ----*/
.float-right {float:right !important;background-color:#fff;} /* If a grid cell is floated right and there happens to be a heading with a border-bottom or background colour to the left, some browsers  render the decoration across the entire space which slices through the float right element. The white background masks this. */
.margin-bottom-none {margin-bottom:0 !important;}
.margin-bottom-small {margin-bottom:2px !important;}
.margin-bottom-medium {margin-bottom:10px !important;}
.margin-bottom-large {margin-bottom:20px !important;}
.margin-bottom-xlarge {margin-bottom:50px !important;}
.margin-top-none {margin-top:0 !important;}
.margin-top-small {margin-top:2px !important;}
.margin-top-medium {margin-top:10px !important;}
.margin-top-large {margin-top:20px !important;}
.margin-top-xlarge {margin-top:50px !important;}

/*Reset margin left and right to elements that are used inside a grid cell*/
.span-1 h2,.span-2 h2,.span-3 h2,.span-4 h2,.span-5 h2,.span-6 h2,.span-7 h2,.span-8 h2,.span-9 h2,.span-10 h2,.span-11 h2,.span-12 h2,
.span-1 h3,.span-2 h3,.span-3 h3,.span-4 h3,.span-5 h3,.span-6 h3,.span-7 h3,.span-8 h3,.span-9 h3,.span-10 h3,.span-11 h3,.span-12 h3,
.span-1 h4,.span-2 h4,.span-3 h4,.span-4 h4,.span-5 h4,.span-6 h4,.span-7 h4,.span-8 h4,.span-9 h4,.span-10 h4,.span-11 h4,.span-12 h4,
.span-1 h5,.span-2 h5,.span-3 h5,.span-4 h5,.span-5 h5,.span-6 h5,.span-7 h5,.span-8 h5,.span-9 h5,.span-10 h5,.span-11 h5,.span-12 h5,
.span-1 h6,.span-2 h6,.span-3 h6,.span-4 h6,.span-5 h6,.span-6 h6,.span-7 h6,.span-8 h6,.span-9 h6,.span-10 h6,.span-11 h6,.span-12 h6,
.span-1 p,.span-2 p,.span-3 p,.span-4 p,.span-5 p,.span-6 p,.span-7 p,.span-8 p,.span-9 p,.span-10 p,.span-11 p,.span-12 p,
.span-1 blockquote,.span-2 blockquote,.span-3 blockquote,.span-4 blockquote,.span-5 blockquote,.span-6 blockquote,.span-7 blockquote,.span-8 blockquote,.span-9 blockquote,.span-10 blockquote,.span-11 blockquote,.span-12 blockquote,
.span-1 table,.span-2 table,.span-3 table,.span-4 table,.span-5 table,.span-6 table,.span-7 table,.span-8 table,.span-9 table,.span-10 table,.span-11 table,.span-12 table,
.span-1 form,.span-2 form,.span-3 form,.span-4 form,.span-5 form,.span-6 form,.span-7 form,.span-8 form,.span-9 form,.span-10 form,.span-11 form,.span-12 form,
.span-1 img,.span-2 img,.span-3 img,.span-4 img,.span-5 img,.span-6 img,.span-7 img,.span-8 img,.span-9 img,.span-10 img,.span-11 img,.span-12 img,
.span-1 pre,.span-2 pre,.span-3 pre,.span-4 pre,.span-5 pre,.span-6 pre,.span-7 pre,.span-8 pre,.span-9 pre,.span-10 pre,.span-11 pre,.span-12 pre,form h2,form h3,form h4,form h5,form h6,form p{margin-left:0;margin-right:0;}
.span-1 .float-right,.span-2 .float-right,.span-3 .float-right,.span-4 .float-right,.span-5 .float-right,.span-6 .float-right,.span-7 .float-right,.span-8 .float-right,.span-9 .float-right,.span-10 .float-right,.span-11 .float-right,.span-12 .float-right,img.float-right{margin-right:0;}

/* ---- IE fixes ---- */
*:first-child+html .equalize {margin-bottom:20px !important;}
* html .border-top, * html .border-bottom{height:1px;}