@charset "utf-8";
/*!
 * GC Web Usability theme v1.0 / Thème de la facilité d'emploi Web GC v1.0
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
 
/** Screen and print CSS **/
@media screen,print {
}

/** Screen-only CSS **/
@media screen {
	/** Site title **/
	#cn-site-title, #cn-site-title a {filter: Shadow(Color=#333333, Direction=125,Strength=1);}

	/** Search **/
	#cn-search-submit{padding:0 5px !important; border-top:none !important; border-bottom:none !important;}
	
	/** Site nav bar **/
	#cn-psnb .mb-megamenu .mb-sm-open {background: url(../images/gradiant.jpg) repeat-x 0 0 #eee;}
}

/** Print-only CSS **/
@media print {
}