@charset "utf-8";
/*!
 * GC Web Usability theme v1.0 / Thème de la facilité d'emploi Web GC v1.0
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */

/** Screen and print CSS **/
@media screen,print {
}

/** Screen-only CSS **/
@media screen {
	#cn-site-title {margin-top: -1px;}
	#cn-site-title-left, #cn-site-title-right, .cn-alt-site-title-left, .cn-alt-site-title-right {margin-top: 2px;}
	#cn-cols-inner div #cn-decoration-bar {margin-bottom: 13px;overflow:hidden;}
	#cn-tc li {margin-bottom: 6px;}
}

/** Print-only CSS **/
@media print {
}